<%- include('../partials/header') %>

<div class="container" style="text-align: center; width: 25%; margin: auto;">

    <h1>Login</h1>

    <form action="/login" method="POST">
        <input type="text" class="form-control" name="username" placeholder="username">
        <input type="password" class="form-control" name="password" placeholder="password">
        <input class="btn btn-primary" style="width: 100%;" type="submit" value="Login">
    </form>

</div>


<%- include('../partials/footer') %>